<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="generator" content="">
    <meta charset="utf-8">
    
    <link rel="icon" href="static/img/favicon.png">

    <title>Signin </title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap/bootstrap-4.5.0-dist/css/bootstrap.css"rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css_template/style-login.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="text-center mb-3">
        <img class="d-block mx-auto mb-4" src="static/img/logo.png" alt="" width="107"
             height="107">

        <h6 id="logo-text" class=" h6 font-weight-normal">XXXXX XXXXXXXXXX DAN ANALISIS XXXXXXXXX XXXXXXXX
            <span class="subtitle">
          SISTEM INFORMASI XXXXXX JASA XXXXXXXX
        <br> (SIXXXXX)
        </span>
        </h6>

    </div>


    <form method="POST" action="" class="form-signin border" id="loginForm">
        <div class="container text-center">
            <div class="mb-3">
                <h6 class="h6 font-weight-bold"> Sign in </h6>
                Use your Go-AML Credential
            </div>
            <div id="flashmessage">
               
            </div>
            <div class="text-right row mt-2 mb-2">
                <div class="col-sm-3 mt-2">
                    <label>Username</label>
                </div>
                <div class="col-sm-9">
                    <div type="text", value="", id="inputUsername", class="form-control mb-2 mr-sm-2",placeholder=""> 
                     </div>
                </div>

            </div>

            <div class="text-right row mb-2">
                <div class="col-sm-3 mt-2">
                    <label>Password</label>
                </div>
                <div class="col-sm-9">
                    <div type="text", value="", id="inputUsername", class="form-control mb-2 mr-sm-2",placeholder=""> 
                     </div>
                </div>
                <div style="display: none">
                    {| form.password.label(for="inputPassword") |}
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-sm-3"></div>
                <div class="text-left col-sm-9">
                    <div id="chapimg">
                        {| captcha() |}
                    </div>

                    <div class="text-left">
                        <p class="small">
                            <a id="reload_img" class="text_green hover_black"
                               href="">
                                Refresh characters</a>
                        </p>

                        Please type the characters above
                        <div class="invalid-feedback">
                            {% for error in form.captcha.errors %}
                            <span>{| error |}</span>
                            {% endfor %}
                        </div>
                        <div type="text", value="", id="inputCaptcha",
                        class="form-control",placeholder="")>
                        </div>
                    </div>
                    <div class="checkbox mt-3 mb-3">
                        <div class="form-check">
                            <div class="form-check-input"></div>
                            <div class="form-check-label"></div>
                        </div>
                    </div>
                    <button id="submitForm" class="btn btn-secondary" type="submit">Sign in</button>

                    <div style="display: none">
                        {| form.submit.label(for="submitForm") |}
                    </div>

                    <p class="small"><a class="text_green hover_black"
                                        href="https://xxx.xxx.co.id/#feat=css-placeholder-shown">Forgot Password
                        ?</a>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
 

    <!-- js -->
    <script src="static/js/jquery-3.5.1.min.js"></script>

    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('#flashmessage').fadeOut('fast');
            }, 3000); // <-- time in milliseconds
        });
        $(function () {
            $("#reload_img").click(function () {
                //$("#chapimg").load('')
                $("#chapimg").load(location.href + " #chapimg>*", "");
                return false;
            });
        })
    </script>




</html>
