html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.log-container {
  width: 450px;
  margin: 0 auto;
  border: 1px solid #fdfdfd;
  background: #F6F6F6;
  padding: 20px 0;
  position: relative;
}
.log-container h2 {
  font-size: 17px;
  text-align: center;
  line-height: 17px;
  margin-bottom: 20px;
}
.log-container .control-group {
  margin-bottom: 10px;
}
.log-container .control-group label {
  width: 100px;
}
.log-container .control-group div {
  margin-left: 120px;
}
.log-container .control-group div input[type=text],
.log-container .control-group div input[type=password] {
  width: 250px;
}
.log-container .control-group div a {
  font-size: 0.8em;
}
.log-container .register-message {
  text-align: center;
  margin-top: 23px;
  color: #666;
  font-weight: bold;
}

