.scrollable-area {
	margin: 1em auto 0 auto;
	height: 30em;
	overflow: auto;
}
th {
	padding: 5px; /* NOTE: th padding must be set explicitly in order to support IE */
	text-align: left;
	line-height: 2em;
	background-color: #DFE0E1;
}