body {
  padding-top: 5px;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  background-color: #fff;
}

.container {
  width: 96%;
  max-width: 96% !important;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;

}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.themed-container {
  padding: 15px;
  margin-bottom: 30px;
  background-color: rgba(0, 123, 255, .15);
  border: 1px solid rgba(0, 123, 255, .2);
}

.themed-container {
  padding: 15px;
  margin-bottom: 30px;
  background-color: rgba(0, 123, 255, .15);
  border: 1px solid rgba(0, 123, 255, .2);
}

.page-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 0px solid #eee;
}

.text_green       { color: #438BA0;  }
a.hover_black:hover  { color: black !important;  }

/* ===== Header ======================================================== */
.page-header {
  margin-bottom: 10px;
  *zoom: 1;
}
#page-header:before,
#page-header:after {
  display: table;
  content: "";
  line-height: 0;
}
#page-header:after {
  clear: both;
}
#logo {
  float: left;
  margin: 0 0 0 20px;
}
#logo-text {
  text-align: left;
  float: left;
  font-family: "Verdana", Arial, Helvetica, sans-serif;
  margin: 10px 0 0 7px;
}
#logo-text h1 {
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #5d5d5d;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px #ededed;
}
#logo-text .subtitle {
  display: block;
  font-size: 14px;
  line-height: 20px;
}

#acc {
  font-weight: normal;
  font-size: 11px;
  margin: 5px 55px 0 0;
  float: right;
}
#acc ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#acc ul li {
  float: left;
}
#acc ul li a {
  margin-left: 10px;
}
.notifCountValue {
  background: #F03D25;
  padding: 0 3px;
  width: auto;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  margin: -7px 0 0 7px;
  line-height: 13px;
}
#main-nav {
  margin: 0px 0 0 0;
  min-height: 10px;
  background-color: #2E7B93;
  -webkit-box-shadow: 0px 3px 10px rgba(60, 60, 60, 0.6);
  -moz-box-shadow: 0px 3px 10px rgba(60, 60, 60, 0.6);
  box-shadow: 0px 3px 10px rgba(60, 60, 60, 0.6);
  *zoom: 1;
}
#main-nav:before,
#main-nav:after {
  display: table;
  content: "";
  line-height: 0;
}
#main-nav:after {
  clear: both;
}
#main-nav li {
  float: left;
  display: block;
  left: 90px;
  position: relative;
}
#main-nav li a {
  float: left;
  text-decoration: none;
  color: #EDEDED;
  font-size: 1em;
  text-transform: capitalize;
  padding: 0.8em 1em;
}
#main-nav li a:hover {
  background-color: #013342;
}
#main-nav li ul {
  margin: 0;
  opacity: 1;
  visibility: hidden;
  position: absolute;
  top: 2.6em;
  left: 0;
  z-index: 9999;
  border: 1px solid #B2B2B2;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  background-color: #FFF;
}
#main-nav li ul a {
  color: #205566;
  /*width: 15em;*/
}
#main-nav li ul a:hover {
  color: #EDEDED;
}
#main-nav li ul ul {
  left: 17em;
  top: -1px;
}
#main-nav li:hover > a {
  background-color: #013342;
  color: #EDEDED;
}
#main-nav li:hover > ul {
  opacity: 1;
  visibility: visible;
}
